extends layout
block content
  include header.jade
  br 
  .row
    .col-md-6
      h2.text-uppercase Parciais
    .col-md-2
      .row
        .col-md-8
          h4.text-uppercase Pontuação total
        .col-md-4
          h2 -77.9
        .col-md-2
  br
  .row
    .col-md-6
      .plenario
    .col-md-6
      | LISTA COM OS POLITICOS
  br
  br 
  br 
  .row
    .col-md-8 
      | MERCADO
    .col-md-4
      | FILTROS 
  table.table.table-hover
    thead.thead-inverse
      tr 
        th Partido 
        th Político
        th Pontuação Parcial
        th id
    tbody.politicos
        for politico in politicos
          tr 
            th 
              img(src="http://www.camara.leg.br/internet/Deputado/img/partidos/#{politico.partido}.gif")
              h4 #{politico.uf}
              
            th 
              .row 
                .col-md-4
                  img(src="#{politico.picture}")
                .col-md-4 
                  | #{politico.nomeParlamentar}
                  br 
                  | DEPUTADO
            th  
              if politico.parcialNote == 0
                | #{politico.parcialNote}
              else
                | - #{politico.parcialNote}
            th 
              #{politico.id}
        
      
include footer.jade
